# Виртуальная среда
venv/

# Файлы проекта PyCharm
.idea/

# Файлы и прочее для опытов
test/
homework/
pygame-readthedocs-io-en-latest.pdf
server/
currency-exchange-frontend/
docker-compose.yml

__pycache__/

# Добавим файлы для игнора с расширением /txt
*.txt

model/dataBase/currencies.db
